# 파이썬 기초 프로그래밍
파이썬(Python)은 1991년에 귀도 반 로섬(Guido van Rossum)이 개발한 고급 프로그래밍 언어입니다. 파이썬은 특히 가독성과 명료성에 중점을 두고 설계되었으며, 들여쓰기를 사용하여 코드 블록을 구분합니다. 이러한 특성 덕분에 파이썬은 초보자들이 배우기에 적합한 언어로 평가받고 있습니다.

파이썬은 범용 프로그래밍 언어로, 웹 개발, 데이터 분석, 인공 지능, 머신러닝 등 다양한 분야에서 사용됩니다. 이를 가능하게 하는 것은 파이썬의 방대한 표준 라이브러리와 서드파티 라이브러리 덕분입니다. 대표적인 서드파티 라이브러리로는 웹 개발을 위한 Django와 Flask, 데이터 분석을 위한 Pandas와 NumPy, 머신러닝을 위한 TensorFlow와 PyTorch 등이 있습니다.

또한, 파이썬은 스크립트 언어로서의 성격도 강하고, 다양한 운영체제에서 실행될 수 있어 널리 사용되고 있습니다. 이로 인해 파이썬은 현재 세계에서 가장 인기 있는 프로그래밍 언어 중 하나로 꼽히고 있습니다.

## 1. 숫자형 자료형
숫자형 자료형(Number data types)은 프로그래밍 언어에서 숫자를 다루기 위한 자료형입니다.  
: 파이썬에서 숫자형 자료형을 사용하면 사칙연산, 나머지 연산, 지수 연산 등 다양한 수학적 연산을 수행할 수 있습니다.

* 정수형(int)  
정수(Integer)를 표현하는 자료형으로, 양의 정수, 음의 정수, 0을 포함합니다.

In [1]:
a = 10
b = 3

* 실수형 (float) : 소수점이 있는 숫자를 나타내는 자료형인 부동 소수점(Floating point)을 표현합니다.

In [2]:
c = 3.14
d = 1.5

* 사칙연산

In [3]:
a = 10
b = 3

addition = a + b  # 13
subtraction = a - b  # 7
multiplication = a * b  # 30
division = a / b  # 3.3333333333333335 (실수형 결과)

* 나머지 연산 및 몫 연산

In [4]:
remainder = a % b  # 1
quotient = a // b  # 3

* 지수 연산

In [5]:
exponentiation = a ** b  # 1000

* 정수를 실수로 변환

In [ ]:
a = 42
result = float(a)  # result = 42.0
print(result)

* 실수를 정수로 변환  
: 실수를 정수로 변환하기 위해서는 round() 함수를 사용할 수 있습니다. 이 함수는 주어진 실수를 가장 가까운 정수로 반올림한 값을 반환합니다. int() 함수를 사용해 실수를 정수로 변환할 수도 있지만, 이 경우 소수점 이하를 버립니다.

In [ ]:
a = 5.8
result = round(a)  # result = 6
print(result)

In [ ]:
a = 5.8516
result = round(a, 3)  # result = 5.852
print(result)

In [ ]:
a = 5.8
result = int(a)  # result = 5
print(result)

* 절대값 표현

In [ ]:
a = -3
result = abs(a) # result = 3
print(result)

### 숫자형 자료형 연습문제
1. 변수 a에 정수 10을, 변수 b에 실수 3.14를 저장하고 출력하세요.

2. 변수 a에 5를, 변수 b에 3을 저장한 뒤, 두 수의 합을 출력하세요.

3. 변수 a에 7을, 변수 b에 4를 저장한 뒤, 두 수의 곱을 출력하세요.

4. 변수 a에 10을, 변수 b에 3을 저장한 뒤, 두 수를 나눈 결과를 출력하세요.

5. 변수 a에 9를, 변수 b에 4를 저장한 뒤, 두 수를 나눈 나머지를 출력하세요.

6. 변수 a에 2를, 변수 b에 3을 저장한 뒤, a의 b 거듭제곱을 출력하세요.

7. 변수 a에 17을, 변수 b에 4를 저장한 뒤, 두 수를 정수 나누기 연산하여 출력하세요.

8. 변수 a에 3.141592를 저장한 뒤, 소수점 둘째 자리까지 반올림하여 출력하세요.

9. 변수 a에 -5를 저장한 뒤, a의 절댓값을 출력하세요.

10. 변수 a에 정수 7을 저장한 뒤, 실수 형태로 변환하여 출력하세요.

## 문자열 자료형
문자열(String) 자료형은 프로그래밍 언어에서 텍스트 데이터를 다루기 위한 자료형입니다.   
: 파이썬에서 문자열은 작은따옴표('') 또는 큰따옴표("")로 둘러싸인 일련의 문자들로 표현됩니다.

* 문자열 생성

In [ ]:
str1 = "Hello"
str2 = 'World'

* 문자열 연산

In [ ]:
str3 = str1 + " " + str2  # "Hello World"
print(str3)

In [ ]:
repeat_str = str1 * 3  # "HelloHelloHello"
print(repeat_str)

* 문자열 길이 구하기

In [ ]:
length = len(str3)  # 11
print(length)

* 문자열 인덱싱

In [ ]:
first_char = str3[0]  # 'H'
last_char = str3[-1]  # 'd'
print(first_char, last_char)

* 문자열 슬라이싱

In [ ]:
substring = str3[0:5]  # "Hello"
print(substring)

* 문자열 포함 여부 확인

In [ ]:
check = "ello" in str1  # True
print(check)

* 문자열 대소문자 변환

In [ ]:
lowercase_str = str3.lower()  # "hello world"
uppercase_str = str3.upper()  # "HELLO WORLD"
print(lowercase_str, uppercase_str)

* 문자열 분리

In [ ]:
words = str3.split(" ")  # ['Hello', 'World']
print(words)

* 문자열 결합

In [ ]:
joined_str = "-".join(words)  # "Hello-World"
print(joined_str)

* 문자열 대체

In [ ]:
replaced_str = str3.replace("World", "Python")  # "Hello Python"
print(replaced_str)

* 문자열 포매팅

In [ ]:
name = "Alice"
age = 30

formatted_str2 = "My name is {} and I am {} years old.".format(name, age)
print(formatted_str2)

* 문자열에서 특정 문자 개수 세기

In [ ]:
text = "hello world, world"
count = text.count("world")  # 2
print(count)

* 문자열에서 문자열 찾기  
: str.find(substring) 함수는 문자열에서 특정 부분 문자열을 찾아 시작 인덱스를 반환하며, 찾지 못할 경우 -1을 반환합니다.

In [ ]:
text = "hello world"
find_result = text.find("world")  # 6
print(find_result)

In [ ]:
not_found = text.find("python")  # -1
print(not_found)

* 문자열 공백 제거  
: str.strip() 함수는 문자열 양쪽의 공백을 제거합니다. str.lstrip() 함수는 문자열 왼쪽의 공백을 제거하며, str.rstrip() 함수는 문자열 오른쪽의 공백을 제거합니다.

In [ ]:
text = "  hello world  "
stripped = text.strip()  # "hello world"
left_stripped = text.lstrip()  # "hello world  "
right_stripped = text.rstrip()  # "  hello world"
print(stripped, left_stripped, right_stripped)

문자열 시작/끝 확인 (startswith, endswith)
* str.startswith(prefix) 함수는 문자열이 특정 문자열로 시작하는지 확인합니다.
* str.endswith(suffix) 함수는 문자열이 특정 문자열로 끝나는지 확인합니다.

In [ ]:
text = "hello world"
starts_with_hello = text.startswith("hello")  # True
ends_with_world = text.endswith("world")  # True
print(starts_with_hello, ends_with_world)

### 문자열 자료형 연습문제

1. 변수 name에 자신의 이름을 문자열로 저장하고 출력하세요.

2. 변수 text에 "Hello, World!"를 저장하고 문자열의 길이를 출력하세요.

3. 변수 str1에 "Hello"를, 변수 str2에 "World"를 저장한 뒤, 두 문자열을 합쳐 "Hello, World!"를 출력하세요.

4. 변수 text에 "Hello, World!"를 저장하고, 첫 번째 문자와 마지막 문자를 출력하세요.

5. 변수 text에 "Hello, World!"를 저장하고, "Hello"와 "World" 부분을 추출하여 출력하세요.

6. 변수 text에 "abracadabra"를 저장하고, 문자 'a'의 개수를 출력하세요.

7. 변수 text에 "Python is fun!"을 저장하고, 문자열 "fun"이 시작하는 인덱스를 출력하세요.

8. 변수 text에 "python programming"을 저장하고, 대문자로 변경하여 출력하세요.

9. 변수 text에 "apple,banana,orange"를 저장하고, 쉼표를 기준으로 문자열을 분리하여 리스트로 출력하세요.

10. 변수 text에 "I love cats"를 저장하고, "cats"를 "dogs"로 바꾼 뒤 출력하세요.

## 리스트 자료형
리스트(list) 자료형은 여러 개의 값을 순차적으로 저장하는 데 사용되는 파이썬의 자료형입니다.   
: 리스트는 대괄호([])를 사용하여 생성하며, 요소들은 쉼표(,)로 구분됩니다. 리스트는 다양한 타입의 데이터를 저장할 수 있고, 중첩된 리스트도 가능합니다.

* 리스트 생성

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

In [ ]:
nested_list = [1, 2, [3, 4], [5, 6]]
print(nested_list)

* 리스트 길이 구하기

In [ ]:
fruits = ["apple", "banana", "cherry"]
length = len(fruits)
print(length)

* 리스트 연산

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print(combined_list)

In [ ]:
list1 = [1, 2, 3]
combined_list = list1 * 5
print(combined_list)

* 리스트 값 변경하기

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits[1] = "blueberry"
print(fruits)

* 리스트 인덱싱

In [ ]:
fruits = ["apple", "banana", "cherry"]
first_fruit = fruits[0]
last_fruit = fruits[-1]
print(first_fruit, last_fruit)

* 리스트 슬라이싱

In [ ]:
fruits = ["apple", "banana", "cherry", "orange", "grape"]
some_fruits = fruits[1:4]
print(some_fruits)

* 리스트에 요소 추가하기

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

* 리스트에서 요소 삭제하기

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

* 리스트 정렬하기

In [ ]:
numbers = [5, 2, 8, 1, 3]
numbers.sort()
print(numbers)

In [ ]:
numbers = [5, 2, 8, 1, 3]
numbers.sort(reverse=True) # 내림차순 정렬
print(numbers)

* 리스트에서 특정 값이 가장 처음 나오는 인덱스 구하기 (index 메서드)

In [ ]:
fruits = ["apple", "banana", "cherry", "apple"]
index = fruits.index("apple")
print(index)  # 0이 출력됩니다.

* 리스트에서 특정 값 개수 세기

In [ ]:
fruits = ["apple", "banana", "cherry", "apple"]
count = fruits.count("apple")
print(count)  # 2가 출력됩니다.

* 리스트 뒤집기

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.reverse()
print(fruits)

### 리스트 자료형 연습문제

1. 변수 fruits에 "apple", "banana", "cherry"를 저장한 리스트를 생성하고 출력하세요.

2. 변수 fruits에 ["apple", "banana", "cherry"]가 저장되어 있습니다. 리스트의 길이를 출력하세요.

3. 변수 fruits에 ["apple", "banana", "cherry"]가 저장되어 있습니다. 첫 번째 요소를 출력하세요.

4. 변수 fruits에 ["apple", "banana", "cherry", "orange", "grape"]가 저장되어 있습니다. 두 번째부터 네 번째 요소를 슬라이싱하여 출력하세요.

5. 변수 fruits에 ["apple", "banana", "cherry"]가 저장되어 있습니다. "orange"를 리스트 끝에 추가하고 출력하세요.

6. 변수 fruits에 ["apple", "banana", "cherry"]가 저장되어 있습니다. "banana"를 제거하고 출력하세요.

7. 변수 numbers에 [3, 1, 4, 2, 5]가 저장되어 있습니다. 리스트를 오름차순으로 정렬하고 출력하세요.

8. 변수 list1에 [1, 2, 3]이 저장되어 있고, 변수 list2에 [4, 5, 6]이 저장되어 있습니다. 두 리스트를 연결하고 출력하세요.

9. 변수 fruits에 ["apple", "banana"]가 저장되어 있습니다. 이 리스트를 세 번 반복하여 출력하세요.

10. 변수 fruits에 ["apple", "banana", "apple", "cherry", "apple"]가 저장되어 있습니다. "apple"이 몇 번 나오는지 세고 출력하세요.

## 튜플 자료형
튜플(tuple) 자료형은 여러 개의 값을 순차적으로 저장하는 데 사용되는 파이썬의 자료형입니다.   
: 튜플은 소괄호(())를 사용하여 생성하며, 요소들은 쉼표(,)로 구분됩니다. 튜플은 다양한 타입의 데이터를 저장할 수 있고, 중첩된 튜플도 가능합니다. 튜플은 불변(immutable)하다는 점에서 리스트와 차이가 있습니다.

* 튜플 생성

In [ ]:
colors = ("red", "blue", "green")
print(colors)

* 한 개의 요소를 가진 튜플 생성

In [ ]:
single_element_tuple = (42)
print(single_element_tuple)

In [ ]:
single_element_tuple = (42,)
print(single_element_tuple)

* 튜플 길이 구하기

In [ ]:
colors = ("red", "blue", "green")
length = len(colors)
print(length)

* 튜플 인덱싱

In [ ]:
colors = ("red", "blue", "green")
first_color = colors[0]
last_color = colors[-1]
print(first_color, last_color)

* 튜플 슬라이싱

In [ ]:
colors = ("red", "blue", "green", "yellow", "purple")
some_colors = colors[1:4]
print(some_colors)

* 튜플 연산

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined_tuple = tuple1 + tuple2
print(combined_tuple)

In [ ]:
combined_tuple = tuple1 * 3
print(combined_tuple)

* 패킹, 언패킹  
: 패킹은 여러 개의 값을 하나의 튜플로 묶는 것이고, 언패킹은 튜플의 요소들을 여러 개의 변수에 할당하는 것입니다.

In [ ]:
# 패킹
packed_tuple = 1, 2, 3, 4
print(packed_tuple)

# 언패킹
a, b, c, d = packed_tuple
print(a, b, c, d)

* 튜플 스왑  
: 튜플을 사용하여 두 변수의 값을 서로 바꿀 수 있습니다.

In [ ]:
a = 5
b = 10

a, b = b, a
print(a, b)  # 결과: 10 5

* 튜플에서 요소 개수 세기

In [ ]:
numbers = (1, 2, 3, 2, 4, 2)
count = numbers.count(2)
print(count)  # 결과: 3

* 튜플에서 요소의 인덱스 찾기  
: 튜플에서 특정 요소의 인덱스를 찾기 위해 index() 메서드를 사용할 수 있습니다. 해당 요소가 없으면 ValueError가 발생합니다.

In [ ]:
colors = ("red", "blue", "green", "yellow", "purple")
index = colors.index("green")
print(index)  # 결과: 2

### 튜플 자료형 연습문제

1. 변수 fruits에 'apple', 'banana', 'cherry'를 요소로 가진 튜플을 생성하세요.

2. fruits 튜플에서 'banana'를 출력하세요.

3. fruits 튜플에서 'apple'과 'banana'를 추출하여 출력하세요.

4. fruits 튜플의 길이를 구한 후 출력하세요.

5. 변수 vegetables에 'carrot', 'potato', 'onion'을 요소로 가진 튜플을 생성하고, fruits와 vegetables를 연결한 새 튜플을 출력하세요.

6. fruits 튜플을 세 번 반복하여 출력하세요.

7. 변수 numbers에 (1, 2, 3, 2, 4, 2)가 저장되어 있습니다. 숫자 2가 몇 번 나오는지 세고 출력하세요.

8. 변수 colors에 ('red', 'blue', 'green', 'yellow', 'purple')가 저장되어 있습니다. 'green'의 인덱스를 찾고 출력하세요.

9. 변수 a에 5가 저장되어 있고, 변수 b에 10이 저장되어 있습니다. 튜플을 사용하여 두 변수의 값을 서로 바꾸세요.

## 딕셔너리 자료형
딕셔너리(dictionary) 자료형은 키(key)와 값(value) 쌍으로 이루어진 자료형입니다.   
: 파이썬에서는 중괄호 {} 안에 키: 값 형태로 표현하며, 각 요소들은 쉼표로 구분합니다. 딕셔너리는 순서가 없으며, 키를 통해 값을 검색할 수 있습니다.

* 딕셔너리 생성

In [ ]:
student = {
    'name': 'John',
    'age': 18,
    'grade': 12
}
print(student)

* 딕셔너리에서 값에 접근하기 (키를 사용)

In [ ]:
name = student['name']
print(name)  # 결과: 'John'

* 딕셔너리에 값 추가하기

In [ ]:
student['city'] = 'New York'
print(student)

* 딕셔너리 값 수정하기

In [ ]:
student['age'] = 19
print(student)

* 딕셔너리에서 요소 삭제하기

In [ ]:
del student['grade']
print(student)

* 딕셔너리에서 키(keys) 확인하기

In [ ]:
has_age = 'age' in student
print(has_age)  # 결과: True

* 딕셔너리에서 모든 키 가져오기

In [ ]:
keys = student.keys()
print(keys)

* 딕셔너리에서 모든 값 가져오기

In [ ]:
values = student.values()
print(values)

* 딕셔너리에서 모든 키와 값 가져오기

In [ ]:
items = student.items()
print(items)

### 딕셔너리 자료형 연습문제

1. 변수 animal에 'name': 'dog', 'sound': 'bark', 'legs': 4를 요소로 가진 딕셔너리를 생성하세요.

2. animal 딕셔너리에서 'dog'를 출력하세요.

3. animal 딕셔너리에 'color': 'brown'을 추가하세요.

4. animal 딕셔너리에서 'sound'의 값을 'woof'로 변경하세요.

5. animal 딕셔너리에서 'legs' 항목을 삭제하세요.

6.  animal 딕셔너리에 'color' 키가 있는지 확인하고 결과를 출력하세요.

7. animal 딕셔너리의 모든 키를 가져와 출력하세요.

8. animal 딕셔너리의 모든 값을 가져와 출력하세요.

9. animal 딕셔너리의 모든 키와 값을 가져와 출력하세요.

## 집합 자료형
파이썬의 집합(set) 자료형은 순서가 없고, 중복된 요소를 가지지 않는 자료구조입니다.   
: 중괄호({})를 사용하여 집합을 생성하거나, set() 함수를 사용할 수 있습니다. 집합에 대한 여러 연산(합집합, 교집합, 차집합 등)을 수행할 수 있습니다.

* 집합 생성

In [ ]:
# 집합 생성
s1 = {1, 2, 3}
s2 = set([1, 2, 3])

print(s1)  # 출력: {1, 2, 3}
print(s2)  # 출력: {1, 2, 3}

* 교집합

In [ ]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}

print(s1 & s2)

* 합집합

In [ ]:
print(s1 | s2)

* 차집합

In [ ]:
print(s1 - s2)

* 집합에 요소 추가

In [ ]:
s1.add(4)
print(s1)  # 출력: {1, 2, 3, 4}

In [ ]:
s1.update([4, 5, 6, 7])
print(s1)

* 집합에서 요소 제거

In [ ]:
s1.remove(1)
print(s1)  # 출력: {2, 3, 4}

* 집합 길이 확인

In [ ]:
print(len(s1))

### 집합 자료형 연습문제

1. 빈 집합 자료형을 생성하고, 1, 2, 3을 추가하세요.

2. {1, 2, 3} 집합에서 2를 제거하세요.

3. 리스트 [1, 2, 3, 3, 4, 4, 5]를 집합 자료형으로 변환하세요.

4. 집합 {1, 2, 3, 4, 5}의 길이를 구하세요.

5. 두 집합 {1, 2, 3}과 {3, 4, 5}의 합집합을 구하세요.

6. 두 집합 {1, 2, 3, 4}와 {3, 4, 5, 6}의 교집합을 구하세요.

7. 두 집합 {1, 2, 3, 4}와 {3, 4, 5, 6}의 차집합을 구하세요.

## 불 자료형
불(Boolean) 자료형은 참(True)과 거짓(False)의 두 가지 값만 가질 수 있는 데이터 타입입니다. 불 자료형은 조건문, 반복문, 논리 연산자 등에서 매우 중요한 역할을 합니다. 불 자료형은 비교 연산자(==, !=, <, >, <=, >=)의 결과로도 얻을 수 있으며, 논리 연산자(and, or, not)를 사용하여 다른 불 값과 조합할 수도 있습니다.

## 조건문 IF문
파이썬의 조건문(if)은 주어진 조건이 참(True)인 경우에만 코드 블록을 실행합니다. if 문 다음에는 조건식을 작성하고, 조건식 다음에는 콜론(:)을 입력하여 코드 블록을 시작합니다. 들여쓰기(indentation)는 파이썬에서 중요하며, 동일한 코드 블록 내에서 동일한 들여쓰기를 사용해야 합니다.  

: if 문에는 선택적으로 elif(else if)와 else 문을 추가할 수 있습니다. 여러 개의 조건을 검사할 때 elif를 사용하며, 위의 조건들이 모두 거짓일 때 실행할 코드를 else 문에 작성합니다.

In [ ]:
age = 25

if age < 18:
    print("미성년자입니다.")
elif age < 20:
    print("성인이지만 술을 마실 수 없습니다.")
else:
    print("성인입니다.")

# 출력: 성인입니다.

### 조건문 IF문 연습문제
1. 주어진 숫자 x가 양수인 경우 "양수입니다."를 출력하세요.

2. 주어진 숫자 x가 짝수인 경우 "짝수입니다."를, 홀수인 경우 "홀수입니다."를 출력하세요.

3. 주어진 숫자 x가 0부터 10 사이에 있는지 확인하고 결과를 출력하세요.

4. 두 개의 숫자 a와 b를 비교하여 큰 숫자, 작은 숫자, 또는 두 숫자가 같음을 출력하세요.

5. 주어진 성적 score에 따라 학점(A, B, C, D, F)을 출력하세요. 성적이 90점 이상이면 A, 80점 이상이면 B, 70점 이상이면 C, 60점 이상이면 D, 그 외의 경우에는 F를 출력합니다.

6. 주어진 키 height와 몸무게 weight로 BMI 지수를 계산하고, 체중 상태(저체중, 정상, 과체중, 비만)를 출력하세요. BMI 지수는 다음 공식을 사용하여 계산할 수 있습니다.

: BMI = 몸무게(kg) / (키(m))^2

* 저체중: BMI < 18.5
* 정상: 18.5 <= BMI < 25
* 과체중: 25 <= BMI < 30
* 비만: BMI >= 30

7. 세 개의 숫자 a, b, c 중 가장 큰 값을 출력하세요.

## 반복문 while문
파이썬의 반복문 중 하나인 while문은 주어진 조건이 참(True)인 동안 코드 블록을 반복해서 실행합니다. 조건식이 거짓(False)이 될 때까지 계속 실행되며, 조건식이 처음부터 거짓인 경우 코드 블록은 한 번도 실행되지 않습니다. while문 다음에는 조건식을 작성하고, 조건식 다음에는 콜론(:)을 입력하여 코드 블록을 시작합니다. 들여쓰기(indentation)는 파이썬에서 중요하며, 동일한 코드 블록 내에서 동일한 들여쓰기를 사용해야 합니다.

### break
무한 루프를 조심하세요. 조건식이 항상 참인 경우, while문은 무한히 반복되므로 코드가 종료되지 않습니다. 이러한 상황을 방지하려면 적절한 종료 조건을 설정하거나 break 문을 사용하여 반복을 빠져나오도록 합니다.

### continue
continue는 파이썬의 반복문에서 사용되는 제어문입니다. continue 문이 실행되면, 현재 반복의 남은 코드를 건너뛰고 다음 반복(iteration)으로 진행합니다. continue 문은 주로 조건을 만족하는 경우에 현재 반복을 건너뛰고자 할 때 사용됩니다.

### 반복문 while문 연습문제
1. while문을 사용하여 1부터 10까지의 숫자를 출력하세요.

2. while문을 사용하여 1부터 10까지의 숫자의 합을 구하고 출력하세요.

3. while문을 사용하여 구구단 2단을 출력하세요.

4. while문을 사용하여 1부터 100까지의 짝수를 출력하세요.

## 반복문 for문
파이썬의 for문은 시퀀스(sequence)를 순회하며 각 요소에 대해 코드 블록을 실행합니다. 시퀀스는 리스트, 튜플, 문자열, 사전 등 여러 가지 자료구조가 가능합니다. for문 다음에는 순회할 변수 이름을 지정하고, in 키워드를 사용해 순회할 시퀀스를 지정합니다. 이후 콜론(:)을 입력하여 코드 블록을 시작하며, 동일한 코드 블록 내에서 동일한 들여쓰기를 사용해야 합니다.

In [ ]:
fruits = ["apple", "banana", "orange"]

for fruit in fruits:
    print(fruit)

# 출력:
# apple
# banana
# orange

In [ ]:
for i in range(5):
    print(i)

# 출력:
# 0
# 1
# 2
# 3
# 4

In [ ]:
for i in range(3, 6):
    print(i)

In [ ]:
for i in range(1, 6, 2):
    print(i)

# 출력:
# 1
# 3
# 5

In [ ]:
student_grades = {"Alice": 90, "Bob": 85, "Charlie": 95}

for name, grade in student_grades.items():
    print(name, grade)

# 출력:
# Alice 90
# Bob 85
# Charlie 95

### 반복문 for문 연습문제
1. for문을 사용하여 1부터 10까지의 숫자를 출력하세요.

2. for문을 사용하여 1부터 10까지의 숫자의 합을 구하고 출력하세요.

3. for문을 사용하여 구구단 2단을 출력하세요.

4. for문을 사용하여 1부터 100까지의 짝수를 출력하세요.

5. 주어진 숫자 n에 대해 1부터 n까지의 팩토리얼을 계산하고 출력하세요.

## 내장 함수
* abs(x): 숫자 x의 절대값을 반환합니다.

* sum: iterable 객체(리스트, 튜플 등)의 합을 반환합니다.

* min / max: iterable 객체에서 최소값 / 최대값을 반환

* len(s): 시퀀스(s)의 길이(요소 수)를 반환합니다.

* round: 숫자를 반올림한 후 반환합니다. ndigits 인자를 통해 반올림할 소수점 자릿수를 지정할 수 있습니다.

* range(stop) / range(start, stop[, step]): 시작값부터 종료값 전까지 일정한 간격의 숫자 시퀀스를 생성하는 range 객체를 반환합니다. 간격은 step 인자를 통해 지정할 수 있습니다.

* int(x=0, base=10): 주어진 숫자 또는 문자열 x를 정수로 변환합니다.

* float(x): 주어진 숫자 또는 문자열 x를 부동소수점 수로 변환합니다.

* str(obj=''): 주어진 객체를 문자열로 변환합니다.

## 라이브러리
라이브러리(library)란 프로그래밍에서 특정 기능들을 모아 놓은 코드 모음입니다. 라이브러리는 개발자가 작성한 코드와 함께 작동하며, 일반적인 작업을 수행하거나, 복잡한 작업을 쉽게 처리할 수 있도록 도와줍니다.